.box {
    background-color: #ffffff;
    border: none;
    border-radius: 10%;
    box-shadow: 0px 0px 8px #888888;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    line-height: 5rem;
    margin: 0.5rem;
  }
  
  .x {
    color: rgb(224 185 28);
  }
  
  .o {
    color:rgb(41 104 140);
  }
  
  .box:hover {
    box-shadow: 0px 0px 15px #888888;
  }
  